@inherits LayoutComponentBase

@inject IJSRuntime JS

@code{

    bool Display { get; set; }

    protected override async Task OnInitializedAsync()
    {
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // for demo purpose
            await Task.Delay(1000);

            // UI + DOM Update
            await JS.InvokeVoidAsync("MainLayoutLoaded");
            Display = true;
            StateHasChanged();
        }
    }
}

@if (Display)
{
    <div class="main p-4">
        <div class="content p-3 mx-auto" style="max-width:800px; height:100%">
            <div class=" card">
                <div class="card-header text-center font-weight-bold" style="font-size:large">
                    AcePointer Name Sorter Application
                </div>
                <div class="card-body">
                    @Body
                </div>
            </div>
        </div>
    </div>
}
